<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!--All WCF configuration will go in this section-->
  <system.serviceModel>
    <services>
      <service name="Zza.Services.ZzaService">
        <!--external callers outside the firewall could come in over HTTP to this service-->
        <endpoint address="http://localhost:2112/Zza"
                  binding="basicHttpBinding"
                  contract="Zza.Services.IZzaService"/>
        <!--internal clients on our local are network could come in via sockets, which is going to be a little bit faster-->
        <endpoint address="net.tcp://localhost:2113/Zza"
                  binding="netTcpBinding"
                  contract="Zza.Services.IZzaService"/>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

</configuration>
